amqp==5.3.1
asgiref==3.8.1
asttokens==3.0.0
attrs==22.1.0
backcall==0.2.0
billiard==3.6.4.0
boto3==1.24.71
boto3-stubs==1.24.71
botocore==1.27.96
botocore-stubs==1.38.46
celery==5.2.7
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==45.0.4
decorator==5.2.1
Django
django-celery-beat
django-celery-results
django-cors-headers==3.13.0
django-countries==7.6.1
django-environ==0.12.0
django-extensions==3.2.1
django-filter==22.1
django-redis==5.2.0
django-storages==1.13.1
django-stubs==1.12.0
django-stubs-ext==5.2.1
django-timezone-field==7.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.2.2
djangorestframework-stubs==1.7.0
drf-jwt==1.19.2
drf-spectacular==0.24.2
executing==2.2.0
factory-boy==3.2.1
Faker==15.1.1
flake8==5.0.4
idna==3.10
inflection==0.5.1
iniconfig==2.1.0
ipdb==0.13.9
ipython==8.5.0
itypes==1.2.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.17.3
kavenegar==1.1.2
kombu==5.5.4
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mypy==0.971
mypy_extensions==1.1.0
packaging==25.0
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.3.0
pluggy==1.6.0
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.9.1
pycparser==2.22
pyflakes==2.5.0
Pygments==2.19.2
PyJWT==2.10.1
pyrsistent==0.20.0
pytest==7.2.0
pytest-django==4.5.2
python-crontab==3.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
redis==6.2.0
requests==2.32.4
s3transfer==0.6.2
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
stack-data==0.6.3
toml==0.10.2
tomli==2.2.1
traitlets==5.14.3
types-awscrt==0.27.4
types-Markdown==3.8.0.20250415
types-pytz==2025.2.0.20250516
types-PyYAML==6.0.12.20250516
types-requests==2.31.0.6
types-s3transfer==0.13.0
types-urllib3==1.26.25.14
typing_extensions==4.14.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==1.26.20
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.2.0
